<div class="container">
    <% if user_signed_in? %>
    <%= render "users_to_follow"%>
    <%= render "form"%>
    <%= render "tweets"%>
    <div>
    <%= paginate @tweets%>
    <%= link_to_previous_page @tweets, 'Previous tweets'%>
    <%= link_to_next_page @tweets, 'Show more tweets'%>
    </div>
    <% else %>
    <%= render "tweets"%>
    <%= link_to 'Show more tweets', new_user_session_path %>
    <% end %>
</div>