<div class="text-light card m-3">
    <div class="row bg-dark">
        <div class="card-body bg-info d-inline">
            <%= @tweet.user.photo%>
            <h4 class="card-header bg-dark font-weight-bold"><%= @tweet.user.name %></h4>
            <p class="card-text"><%= @tweet.content %></p>
            <p class="card-text"><%= @tweet.created_at %></p>
        </div>
        <h4>Likes received</h4>
        <div class="row">
            <% @tweet_likes.each do |lk| %>
            <div>
                <%= lk.user.photo %>
            </div>
            <% end %>
        </div>
    </div>
</div>